
.YearNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    /* color: black; */
}

.events {
    width: 100%;
}

.box2 {
    display: flex;
    flex-direction: row;
}

.box2 input {
    font-size: 15px;
}

.box2 button {
    color: black;
}

.addOffice {
width: 50%;
}

.addTime {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    display: flex;
    margin-top: 2px;
}

.dentist {
    display: flex;
}

.start {
    display: flex;
}

.end {
    display: flex;
}

.open {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3px;
}

.office {
    margin-top: 3px;
}

