@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
body {
    background-image: url("https://res.cloudinary.com/devinobowen/image/upload/v1517604847/db_leoy46.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin-top:20px;
    margin-bottom: 20px;
}

section {
    background: linear-gradient(to bottom right, rgba(146, 146, 146, 0.85), rgba(255, 255, 255, 0.849));
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.521);
    border-radius: 10px;
}

.head {
    background: linear-gradient(to bottom right, #113455, #3f82c0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: 150px;
    box-shadow: inset 1px 1px 5px #000000c0;
    margin: 10px;
    color: #030405;
    font-size: 25px;
    border-radius: 1px;
}

.head img {
    width: 400px;
    height: 100%;
}

.headText {
margin-top: 35px;
font-weight: 700;
}

nav {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    background: linear-gradient(to bottom right, #316596, #4288c9);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px #000000c0;
}

a {
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

/* link {
    text-decoration: none;
} */

.body {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
}

.foot {
    width: 1000px;
    height: 40px;
    background: linear-gradient(to bottom right, #316596, #4791d6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 1px 1px 3px #000000c0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 1px;
    color: #fff
}