/* .page {
    width: 100%;
    text-align: center;
}

section {
    width: 1030px;
    background: white linear-gradient(to bottom, #f1f1f1, #ffffff);;
    display: inline-block;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    border-color: #0000002f;
    -moz-box-shadow:    inset 0 0 10px #00000070;
    -webkit-box-shadow: inset 0 0 10px #00000070;
    box-shadow:         inset 0 0 10px #00000070;
    
    
}

.head {
    height: 150px;
    width: 1000px;
    background: lightgray;
    color: white;
    display: inline-block;
    margin: 10px;
    border-bottom: solid;
    border-color: black;
}

.head img {
    width: 50%;
    height: 100%;
}

.head_class {
    color: black;
}

nav {
    display: inline;
    padding-right: 20px;
}

.foot {
    height: 50px;
    width: 1000px;
    background: lightgray;
    color: white;
    display: inline-block;
    margin: 10px;
    padding-top: 15px;
} */



.page {
    display: flex;
    justify-content: center;
}

section {
    background: pink;
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.head {
    background: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: 150px;
}

.head img {
    width: 400px;
    height: 100%;
}

.headText {

}

nav {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.body {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.foot {
    width: 1000px;
    height: 40px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}